n8n-workflows/1-lead-enrichment.json
{
  "name": "LI-Outreach / 1 — Lead Enrichment (Apollo)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "hours", "hoursInterval": 6 } ] }
      },
      "name": "Cron (every 6h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, company_name, company_website, contact_name, title, linkedin_url FROM leads WHERE source IS NOT NULL AND linkedin_public_id IS NULL ORDER BY created_at DESC LIMIT 50;"
      },
      "name": "Postgres — fetch incomplete leads",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [460, 300],
      "credentials": { "postgres": { "id": "PG_CRED_ID", "name": "Outreach Postgres" } }
    },
    {
      "parameters": {
        "functionCode": "// Extract LinkedIn public_id from linkedin_url.\n// e.g. https://linkedin.com/in/john-doe-123  ->  john-doe-123\nconst url = items[0].json.linkedin_url || '';\nconst match = url.match(/linkedin\\.com\\/in\\/([^\\/\\?#]+)/i);\nconst public_id = match ? match[1].toLowerCase() : null;\nreturn [{ json: { ...items[0].json, linkedin_public_id: public_id } }];"
      },
      "name": "Function — derive linkedin_public_id",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads SET linkedin_public_id = $1, source_confidence = 0.85, updated_at = NOW() WHERE id = $2;",
        "additionalFields": { "queryParams": "={{$json.linkedin_public_id}},={{$json.id}}" }
      },
      "name": "Postgres — update lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [900, 300],
      "credentials": { "postgres": { "id": "PG_CRED_ID", "name": "Outreach Postgres" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO consent_log (lead_id, legal_basis, lia_ref) VALUES ($1, 'legitimate_interest', $2) ON CONFLICT DO NOTHING;",
        "additionalFields": { "queryParams": "={{$json.id}},={{$env.LIA_REF}}" }
      },
      "name": "Postgres — log consent basis",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1120, 300],
      "credentials": { "postgres": { "id": "PG_CRED_ID", "name": "Outreach Postgres" } }
    }
  ],
  "connections": {
    "Cron (every 6h)":                   { "main": [[{ "node": "Postgres — fetch incomplete leads", "type": "main", "index": 0 }]] },
    "Postgres — fetch incomplete leads": { "main": [[{ "node": "Function — derive linkedin_public_id", "type": "main", "index": 0 }]] },
    "Function — derive linkedin_public_id": { "main": [[{ "node": "Postgres — update lead", "type": "main", "index": 0 }]] },
    "Postgres — update lead":            { "main": [[{ "node": "Postgres — log consent basis", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
