n8n-workflows/2-email-campaign.json
{
  "name": "BL-076 / 2 — Email Campaign (cold + follow-ups)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "hours", "hoursInterval": 1 } ] }
      },
      "name": "Cron (hourly during business hours)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT cl.* FROM contactable_leads cl LEFT JOIN campaign_emails ce ON ce.lead_id = cl.id WHERE ce.id IS NULL ORDER BY cl.created_at LIMIT $1;",
        "additionalFields": { "queryParams": "={{$env.DAILY_EMAIL_LIMIT || 50}}" }
      },
      "name": "Postgres — pick contactable leads (already SUPPRESSION-FILTERED via view)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [460, 300],
      "credentials": { "postgres": { "id": "PG_CRED_ID", "name": "BA Postgres" } }
    },
    {
      "parameters": {
        "functionCode": "// Render template — load cold-outreach-v1.md and substitute variables.\nconst fs = require('fs');\nconst path = require('path');\nconst tpl = fs.readFileSync(path.resolve(process.env.TEMPLATE_DIR || './email-templates', 'cold-outreach-v1.md'), 'utf8');\nconst lead = items[0].json;\nconst frameworkByCountry = { 'United Kingdom': 'FCA', 'United Arab Emirates': 'VARA', 'Singapore': 'MAS' };\nconst framework = frameworkByCountry[lead.country] || 'MiCA';\nconst replacements = {\n  '{{contact_name}}': (lead.contact_name || '').split(' ')[0] || 'there',\n  '{{company_name}}': lead.company_name,\n  '{{country}}': lead.country,\n  '{{compliance_framework}}': framework,\n  '{{sender.first_name}}': 'Giorgio',\n  '{{sender.title}}': 'Head of Sales',\n  '{{sender.company}}': 'BlockchainAnalysis.io',\n  '{{sender.calendar_url}}': 'https://cal.com/blockchainanalysisdemo/intro',\n  '{{compliance.dpo_email}}': process.env.DPO_EMAIL,\n  '{{compliance.unsubscribe_url}}': `${process.env.UNSUBSCRIBE_BASE_URL}/${lead.unsubscribe_token}`,\n  '{{compliance.company_legal_name}}': process.env.COMPANY_LEGAL_NAME,\n  '{{compliance.company_address}}': process.env.COMPANY_ADDRESS,\n};\nlet rendered = tpl;\nfor (const [k, v] of Object.entries(replacements)) rendered = rendered.split(k).join(v ?? '');\nconst [subjectLine, ...rest] = rendered.split('\\n');\nreturn [{ json: { ...lead, subject: subjectLine.replace(/^Subject:\\s*/, ''), body: rest.join('\\n').trim(), template_used: 'cold-outreach-v1' } }];"
      },
      "name": "Function — render template",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{$env.SMTP_USER}}",
        "toEmail": "={{$json.email}}",
        "subject": "={{$json.subject}}",
        "text": "={{$json.body}}",
        "options": { "appendAttribution": false }
      },
      "name": "SMTP — send",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [900, 300],
      "credentials": { "smtp": { "id": "SMTP_CRED_ID", "name": "BA SMTP" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO campaign_emails (campaign_id, lead_id, template_used, subject, sent_at, status, message_id) VALUES ($1, $2, $3, $4, NOW(), 'sent', $5);",
        "additionalFields": { "queryParams": "={{$env.ACTIVE_CAMPAIGN_ID}},={{$json.id}},={{$json.template_used}},={{$json.subject}},={{$json.messageId}}" }
      },
      "name": "Postgres — log sent email",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1120, 300],
      "credentials": { "postgres": { "id": "PG_CRED_ID", "name": "BA Postgres" } }
    }
  ],
  "connections": {
    "Cron (hourly during business hours)": { "main": [[{ "node": "Postgres — pick contactable leads (already SUPPRESSION-FILTERED via view)", "type": "main", "index": 0 }]] },
    "Postgres — pick contactable leads (already SUPPRESSION-FILTERED via view)": { "main": [[{ "node": "Function — render template", "type": "main", "index": 0 }]] },
    "Function — render template":          { "main": [[{ "node": "SMTP — send", "type": "main", "index": 0 }]] },
    "SMTP — send":                          { "main": [[{ "node": "Postgres — log sent email", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
